/* Подключаем шрифт */

@font-face {
    font-family: Bellota;
    src: url(../fonts/Bellota-Regular.ttf);
}

@font-face {
    font-family: Amatic;
    src: url(../fonts/AmaticSC-Regular.ttf);
}

html {
    font-size: calc(60% + 0.8vmin);
    font-family: Bellota;
}

body {
    background-image: url(../src/email-pattern.png);
}

.container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.doneWorks, .lections, .links {
    padding: 20px;
    margin: 1rem;
    border-radius: 1rem;

}

.lections {
    background-color: blanchedalmond;
}

.doneWorks {
    background-color: cornsilk;
}

.links {
    background-color: burlywood;
}

.linkContainer {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: fit-content;
    align-items: center;
}

.pictogram {
    height: 2rem;
    width: auto;
}

a {
    font-size: 1.5rem;
}

h1 {
    font-family: Amatic;
}